#top{
    height:15%;
    padding:10px;
    img{
        margin-bottom:10px;
        height:100%;
    }    
}

#left{
    float:left;
    padding:10px;
}

#left-top{
    color:red;
    img{
        float:left;    
        margin-right:1%;
    }
    font:{
        size:20px;    
    }
    border-bottom:1px solid gray;
    padding-bottom:10px;
}

#left-bottom{
    padding:10px;
    .link{
        padding:3px;
        border:1px solid gray;
        text-align:center;
        &:hover{
            background-color:gray;
        }
    }
}

#bottom{
    border:{
        top:1px solid gray;
    }    
}

#MainContents{
    float:right;
    border:{
        left:1px solid gray;
    }
    .contents{
        border:1px red solid;
        border-top-width:3px;
        float:left;
        margin:10px;
        height:10%;
    }

}

#searchBox{
    margin-top:10px;
    margin-left:auto;
}

#messageBox{
    margin-top:10px;
    height:20%;
    overflow:scroll;
}

