#top{
    height:15%;
    padding:10px;
    img{
        margin-bottom:10px;
        height:100%;
    }    
}

#left{
    float:left;
    padding:10px;
}

#left-top{
    color:red;
    img{
        float:left;    
        margin-right:1%;
    }
    font:{
        size:20px;    
    }
    border-bottom:1px solid gray;
    padding-bottom:10px;
}

#left-bottom{
    padding:10px;
    .link{
        padding:3px;
        border:1px solid gray;
        text-align:center;
        &:hover{
            background-color:gray;
        }
    }
}

#bottom{
    border:{
        top:1px solid gray;
    }    
}

#MainContents{
    float:right;
    border:{
        left:1px solid gray;
    }
    .contents{
        border:1px red solid;
        border-top-width:3px;
        float:left;
        margin:10px;
        height:10%;
    }

}

#searchBox{
    margin-top:10px;
    margin-left:auto;
}

.wd-1{
    width:10%;   
    box-sizing: border-box;
 }
.wd-2{
    width:20%;   
    box-sizing: border-box;
} 
.wd-3{
    width:30%;   
    box-sizing: border-box;
 }
.wd-4{
    width:40%;   
    box-sizing: border-box;
}
.wd-5{
    width:50%;   
    box-sizing: border-box;
}
.wd-6{
    width:60%;   
    box-sizing: border-box;
}
.wd-7{
    width:70%;   
    box-sizing: border-box;
}
.wd-8{
    width:80%;   
    box-sizing: border-box;
 }
.wd-9{
    width:90%;   
    box-sizing: border-box;
 }
.wd-10{
    width:100%;   
    box-sizing: border-box;
 }
